.container_footer{
    background: #5E50A1;
    height: 56vh;
    color: #fff;
}
.content_footer{
    padding-top: 80px;
}


@media screen and (max-width: 991px){
    .container_footer{
        background: #5E50A1;
        height: 365px !important;
        color: #fff;
    }  
    .width_p {
        width: 50% !important;
    }
}