.btn_custom{
    background: red;
}
.container_img4{
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 290px;
    border-radius: 30px 0px 30px 0px;
    background: #5E50A1;
    background-image: url(../assets/image/bg-card.svg);
    background-size: cover;
    margin-top: 120px;
  }

@media screen and (max-width: 576px){
    .btn_custom{
        font-size: 16px !important;
        width: 150px;
    }
    .text_custom{
        width: 150px !important;
        font-size: 24px !important;
    }
    .container_img4{
        height: 180px;
    }
}