        #app-cover {
            display: table;
            width: 600px;
            margin: 80px auto;
            counter-reset: button-counter;
        }

        .row {
            display: table-row;
        }

        .toggle_button_cover {
            display: table-cell;
            position: relative;
            width: 200px;
            height: 140px;
            box-sizing: border-box;
        }

        .button_cover {
            /* height: 100px; */
            margin: 20px;
            background-color: #fff;
            box-shadow: 0 10px 20px -8px #c5d6d6;
            border-radius: 4px;
        }

        .button_cover:before {
            counter-increment: button-counter;
            content: counter(button-counter);
            position: absolute;
            right: 0;
            bottom: 0;
            color: #d7e3e3;
            font-size: 12px;
            line-height: 1;
            padding: 5px;
        }

        .button_cover,
        .knobs,
        .layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .button {
            position: relative;
            top: 50%;
            width: 100px;
            height: 36px;
            background: transparent;
            margin: -20px auto 0 auto;
            overflow: hidden;
        }

        .button.r,
        .button.r .layer {
            border-radius: 100px;
        }

        .button.b2 {
            border-radius: 2px;
        }

        .checkbox {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
        }

        .knobs {
            z-index: 2;
        }

        .layer {
            width: 100%;
            background-color: #ebf7fc;
            transition: 0.3s ease all;
            z-index: 1;
        }

        .button_5 {
            perspective: 60px;
            overflow: visible;
        }

        .button_5 .knobs:before,
        .button_5 .knobs span {
            content: "";
            position: absolute;
            top: 0;
            /* left: 4px; */
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            line-height: 1;
            padding: 9px 4px;
            border-radius: 30px;
            transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
        }

        .button_5 .knobs:before {
            background-color: #03a9f4;
        }

        .button_5 .knobs span:before {
            content: "Recruiter";
            font-size: 20px;
            font-weight: bold;
        }

        .button_5 .knobs:before,
        .button_5 .layer {
            transform: rotateY(0);
            transform-origin: center;
        }

        .button_5 .checkbox:checked+.knobs:before {
            transform: rotateY(180deg);
            background-color: #f44336;
        }

        .button_5 .checkbox:checked+.knobs span:before {
            content: "Worker";
            font-size: 20px;
            font-weight: bold;
            top: -30px;
        }

        .button_5 .checkbox:checked~.layer {
            background-color: #fcebeb;
            transform: rotateY(-180deg);
        }

        .button_5 .knobs,
        .button_5 .knobs:before,
        .button_5 .layer {
            transition: 0.3s ease all;
        }